/*
  Aquí van tus estilos o los @import './tus/ficheros'
*/

body {
  background-color: white;
}


.header {
  background-image: url('/images/pexels-jmendezrf-13616697.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 300px; /* Añadir una altura fija para asegurarse de que el header es visible */
  display: flex;
  align-items: flex-end;
  justify-content: center;
  padding: 20px;
  box-sizing: border-box;
  margin-bottom: 100px;
}

.search-container {
  display: flex;
  align-items: center;
}

.main {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.characters {
  margin-bottom: 20px;
  text-align: center;
  color: black;
}

.list {
  flex: 3;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  list-style: none;
  padding: 0;
  margin: 0;

}

/*.listCharacters {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}*/

.favorite{
  flex:1;
  padding-left: 20px;
  border-left: 1px solid #ccc;
}

.card {
  background-color: white;
  border-radius: 8px;
  text-align: center;
  width: 200px;
}

.card-img {
  width: 90%;
  height: 150px;
}

.favorites {
  margin-bottom: 0px;
  text-align: center;
}

