/*
  Aquí van tus estilos o los @import './tus/ficheros'
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  width: 90%;
  height: 400px;
  background-image: url('/images/Castillo_Disney.jpg');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-block: 50px;
}


.search-container {
  display: flex;
  background: rgba(255, 255, 255, 0.8);
  padding: 10px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60%;
  margin-top: 250px;
  flex-direction: row;
  
}

.form_label {
  margin-right: 10px;
  font-weight: bold;
  
}
.form_input-text {
  padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 10px;
    width: 400px; /* Ajustar el ancho del input */
    outline: none;
}

.form_btn{
  flex-direction: row;
  padding: 5px 10px;
  font-size: 12px;
  height: 30px;
  width: 60px;
  border: none;
  background-color: lightblue;
  color:white;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;  
  outline: none;


}
.main {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.characters-section {

  width: 90%;
  margin-right: 20px;

}

.favorite-section {
  width: 25%;
  
}

.section1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 95%;
}

.section2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 85%;
} 

.title_1,
.title_2 {
    text-align: center;
    justify-content: center;
    font-size: 16px;
    margin-bottom: 20px;
    font-family: 'Arial', sans-serif;
    color: grey;
    width: bold;
    text-align: center;
    margin-bottom: 20px;
    letter-spacing: 1px; /* Espaciado entre letras */
}

.list,
.listFavorite {
    list-style: none;
    padding: 0;
    width: 100%;
}

.list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.list li {
  flex: 1 1 calc(20% - 20px); /* Ajustar para 5 tarjetas por fila */
  max-width: calc(20% - 20px);
}

.listFavorite {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.js__listcharacters, .js__favoritecharacters {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px;
}

.card {
    background-color: white;
    border-radius: 8px;
    text-align: center;
    width: 200px;
    margin: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);        
}


.card-img {
    width: 100%;
    height: 150px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.card__name {
  padding: 10px;
  font-size: 16px;
  font-weight: bold;
  color:gray;
}

.remove_btn {
  background-color: gray;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
  margin: 10px;
  margin-left: 150px;
}

.favorite {
    background-color: lightblue;
    color: white;
}

.removeAll_btn {
  background-color: grey;
  color: #fff;
  border: none;
  padding: 8px 10px;
  font-size: 1em;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px; /* Espacio entre el icono y el texto */
  transition: background-color 0.3s, transform 0.3s;
}



/*.listFavorite .card__name {
  text-align: center;
  justify-content: center;
}

.listFavorite {
  display: flex;
  text-align: center;
  justify-content: center;
}*/